.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.left {
    align-items: left;
}

.right {
    display: flex;
    align-items: center;
}